/* .Article .progress {
    position: absolute;
    top: 3.5em;
    left: 0;
    right: 0;
    height: calc(var(--scroll-height) - 3.5em);
    z-index: -1;
} */

.progress /* div */ {
    position: sticky;
    margin-top: 3.5em;
    top: 0;
    z-index: 1000;
    width: calc(100% * var(--scroll));
    margin: 0;
    height: .25em;
    background-color: var(--theme-color);
}

.Article .main {
    display: flex;
    justify-content: center
}

.Article .main article {
    max-width: 59em;
    margin-inline: 1em;
}

.Article .main .title {
    text-align: center;
}

.Article .main .reading-time {
    opacity: 0.5
}

.Article .main .author {
    display: flex;
    align-items: center;
    margin-block: 1em;
}

.Article .main .author img {
    width: 2em;
    margin-left: 1em;
    margin-right: .5em;
}

.Article .main p {
    margin-block: 1em;
}