.Article {
    display: flex;
    justify-content: center
}

.Article div {
    max-width: 60em;
}

.Article .title {
    text-align: center;
}

.Article .reading-time {
    opacity: 0.5
}

.Article .author {
    display: flex;
    align-items: center;
    margin-block: 1em;
}

.Article .author img {
    width: 2em;
    margin-left: 1em;
}

.Article p {
    margin-block: 1em;
}
